/* start Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* end Minimal CSS Reset */

body {
  font-family: "Roboto", sans-serif;
  height: 80vh;
  display: grid;
  align-content: space-around;
  margin: 100px;
}

button {
  width: 200px;
  padding: 20px 30px;
  font-size: 1.5rem;
  border: none;
  background-color: hsl(50, 50%, 50%);
  transition-property: transform;
  transition-duration: 5s;
}

button.ease {
  transition-timing-function: ease;
}

button.linear {
  transition-timing-function: linear;
}

button.ease-in {
  transition-timing-function: ease-in;
}

button.ease-out {
  transition-timing-function: ease-out;
}

button.ease-in-out {
  transition-timing-function: ease-in-out;
}

button:hover {
  transform: translateX(1200px);
  cursor: pointer;
}
